p{
    color: white;
    background-color: #20263d;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel{
    color: rgb(94, 146, 244);
    background-color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}